@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.7);
}
.container {
  width: 95%;
  margin: auto;
}
